@page "/"
@inject NavigationManager navManag

<PageTitle>Efraín G. R.</PageTitle>

<center><h1>Efraín Girón Romero</h1></center>

<h3 class="mt-4">Biography</h3>
<p>
    I am a Mexican software developer currently working in Guadalajara, Jalisco.
    Please forget the way I write in English, it's not my native language, but I will get better.
    I am not sure what to put here, so you can check out my social media and ask anything or leave a suggestion.
</p>

<h3 class="mt-2">Contact Info.</h3>
<div class="list-group">  
    <Link To="https://github.com/biosh0KEd" Target="Target.Blank" Class="list-group-item list-group-item-action">
    <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" width="30" height="30" alt="github"/>
        GitHub
    </Link>

    <Link To="mailto:a19310354@live.ceti.mx" Target="Target.Blank" Class="list-group-item list-group-item-action">
    <img src="https://img.icons8.com/ios-filled/50/000000/circled-envelope.png" width="30" height="30" alt="email" />
        Email
    </Link>

    <Link To="https://www.linkedin.com/in/biosh0ked/" Target="Target.Blank" Class="list-group-item list-group-item-action">
    <img src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled--v1.png" width="30" height="30" alt="linkedin" />
        LinkedIn
    </Link>

    <Link To="https://mobile.twitter.com/bioshoked" Target="Target.Blank" Class="list-group-item list-group-item-action">
    <img src="https://img.icons8.com/ios-filled/50/000000/twitter-circled--v1.png" width="30" height="30" alt="twitter" />
        Twitter
    </Link>

    <Link To="https://platzi.com/p/biosh0Ed/" Target="Target.Blank" Class="list-group-item list-group-item-action">
        Platzi
    </Link>
</div>

<h3 class="mt-2">Skills</h3>
<ol class="list-group mb-2">
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Frontend"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Frontend</div>
            <Progress Value="@FrontPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@FrontPercent</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Backend"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Backend</div>
            <Progress Value="@BackPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@BackPercent</span>
    </li>   
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Databases"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Database Administration</div>
            <Progress Value="@DbPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@DbPercent</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Servers"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Server Administration</div>
            <Progress Value="@ServerPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@ServerPercent</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Embedded"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Embedded Systems</div>
            <Progress Value="@EmbeddedPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@EmbeddedPercent</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start skill-links" @onclick="@(() => IrA("/Security"))">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Cyber Security</div>
            <Progress Value="@SecurityPercent" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">@SecurityPercent</span>
    </li>
</ol>


@code {
    private const int FrontPercent = 20;
    private const int BackPercent = 25;
    private const int DbPercent = 15;
    private const int ServerPercent = 25;
    private const int EmbeddedPercent = 5;
    private const int SecurityPercent = 5;


    public void IrA(string url)
    {
        #if DEBUG
        navManag.NavigateTo(url);
        #else
        navManag.NavigateTo($"/MyPortafolio{url}");
        #endif
    }
}