@page "/Frontend"
<PageTitle>Frontend</PageTitle>

<div class="d-flex titulo">	
	<img src="https://img.icons8.com/ios/50/000000/code.png" alt="frontend" width="@Utils.PageTitleSize" height="@Utils.PageTitleSize"/>
	<h3 class="ms-4">What I know about Frontend.</h3>	
</div>

<hr>

<!-- region Angular -->
<section style="margin: 20px 0;">
	<div class="d-flex titulo">
		<img src="https://img.icons8.com/color/48/000000/angularjs.png" width="@Utils.SectionTitleSize" height="@Utils.SectionTitleSize" alt="angular" />
		<h5 class="ms-4">Angular</h5>
	</div>

	<small>Related work</small>
	<div class="list-group skills-lists">
		<Link To="@(Utils.GetUrl("/ProjectPage/GoGDL/gogdl-summary"))" Class="list-group-item list-group-item-action">
			GoGDL
		</Link>
	</div>
</section>
<!-- endregion -->

<!-- region Blazor -->
<section style="margin: 20px 0;">
	<div class="d-flex titulo">
		<img src="./icon-192.png" width="@Utils.SectionTitleSize" height="@Utils.SectionTitleSize" alt="blazor" />
		<h5 class="ms-4">Blazor</h5>
	</div>

	<small>Related work</small>
	<div class="list-group skills-lists">
		<Link To="@(Utils.GetUrl("/Blog"))" Class="list-group-item list-group-item-action">
			My Developer Portfolio
		</Link>
	</div>
</section>
<!-- endregion -->

<!-- region ASP.NET -->
<section style="margin: 20px 0;">
	<div class="d-flex titulo">
		<img src="https://img.icons8.com/color/48/net-framework.png" width="@Utils.SectionTitleSize" height="@Utils.SectionTitleSize" alt="asp.net"/>
		<h5 class="ms-4">ASP.NET</h5>
	</div>

	<small>Related work</small>
	<div class="list-group">
		@* <Link To="@(Utils.GetUrl("/Blog"))" Class="list-group-item list-group-item-action"> *@
		@* 	My Developer Portfolio *@
		@* </Link> *@
	</div>
</section>
<!-- endregion -->

<footer>
	<small>Icons by <a href="https://icons8.com">Icons8</a></small>
</footer>